<table class="table table-striped">
	<tr>
		<th class="col-sm-1">
			Rank
		</th>
		<th>
			Team
		</th>
	</tr>
	{% for rank in event.ranking %}
		<tr>
			<td>
				{{ loop.index }}
			</td>
			<td>
				{{ rank }}
			</td>
		</tr>
	{% endfor %}
</table>