
Les <b>Amicales RSK</b> auront lieu le <b>1 juin</b> et le <b>20 juin</b> sur le site de Gradignan.

<ul>
    <li>
        <a href="https://amicales-rsk.vlamynck.fr/planning/">
        Planning et inscription
        </a>
    </li>
</ul>

<hr/>

<h4>
    Organisateur
</h4>

<ul>
    <li>
    Charles-Adrien Vlamynck
    (<code>charles-adrien.vlamynck@etu.u-bordeaux.fr</code>)
    </li>
</ul>

<hr/>

<h4>
    S'y rendre
</h4>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2831.4898632952245!2d-0.6140850240724152!3d44.79120452107097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54d8a2f6904aed%3A0x2170534512e882ee!2sD%C3%A9partement%20Informatique%20de%20l&#39;IUT%20de%20Bordeaux!5e0!3m2!1sen!2sfr!4v1685284809529!5m2!1sen!2sfr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>