
Les <b>Amicales RSK</b> auront lieu le <b>1 juin</b> et le <b>20 juin</b> sur le site de Gradignan.

<ul>
    <li>
        <a href="https://amicales-rsk.vlamynck.fr/planning/">
        Planning et inscription
        </a>
    </li>
</ul>