<h4>
	Presentation
</h4>

During
<a href="https://2023.robocup.org/">RoboCup 2023</a>, many joint-events will be held.
<a href="https://2023.robocup.org/en/educamp-scolar-orientation-x-robocup23/">Educamp</a>
is one of them,
aiming at educational contents for the visitors. In this scope, a
<b>Soccer Cam Track</b> competition will take place.
<br/><br/>

We can welcome up to <b>10 teams</b>, each team need to contribute a fee of <b>200 €</b>
to fund the competition.

<hr/>

<h4>
	Planning
</h4>

<ul>
    <li>
        <b>5<sup>th</sup> &rarr; 7<sup>th</sup> july</b>:
        demonstrations, setup and training<span class="text-danger">*</span>
    </li>
    <li>
        <b>8<sup>th</sup> &rarr; 9<sup>th</sup> july</b>:
        competition
    </li>
</ul>

<span class="text-danger">*</span> teams presence is not mandatory during those days

<hr/>

<h4>
Contacts
</h4>

<ul>
    <li>
    Laurent verdier
    (<code>laurent.verdier@elektronslibres.fr</code>)
    </li>
    <li>
    Grégoire Passault
    (<code>gregoire.passault@u-bordeaux.fr</code>)
    </li>
</ul>

<hr/>

<h4>
    Organisateur
</h4>

<hr/>

<h4>
	Registering
</h4>

You can register using the following link:

<ul>
    <li>
        <a href="https://www.helloasso.com/associations/elektrons-libres/evenements/robot-soccer-track-robocup-2023">
        Register
        </a>
    </li>
</ul>

<hr/>
<h4>
	Teams
</h4>

<em>To be announced</em>

<hr/>

<h4>
	Results
</h4>

<em>To be announced</em>

<hr/>

<h4>
Location
</h4>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7766.7747231924695!2d-0.5646756813096205!3d44.89419297373767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5529ae2518e599%3A0xfbf9c37b548aee04!2sParc%20des%20Expositions%20de%20Bordeaux!5e0!3m2!1sen!2sfr!4v1685285113439!5m2!1sen!2sfr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>