<h4>
	Presentation
</h4>

During
<a href="https://2023.robocup.org/">RoboCup 2023</a>, many joint-events will be held.
<a href="https://2023.robocup.org/en/educamp-scolar-orientation-x-robocup23/">Educamp</a>
is one of them,
aiming at educational contents for the visitors. In this scope, a
<b>Soccer Cam Track</b> competition will take place.
<br/><br/>

We can welcome up to <b>10 teams</b>, each team need to contribute a fee of <b>200 €</b>
to fund the competition.

<hr/>

<h4>
	Planning
</h4>

Here the planning:

<ul>
    <li>
        <b>Wednesday 5th July</b>:
        demonstrations, setup and training<span class="text-danger">*</span>
    </li>
    <li>
        <b>Thursday 6th July</b>:
        demonstrations, setup and training<span class="text-danger">*</span>
    </li>
    <li>
        <b>Friday 7th July</b>:
        demonstrations, setup and training<span class="text-danger">*</span>
    </li>
    <li>
        <b>Saturday 8th July</b>:
        competition
    </li>
    <li>
        <b>Sunday 9th July</b>:
        competition
    </li>
</ul>

<span class="text-danger">*</span> teams presence is not mandatory during those days

<hr/>

<h4>
	Registering
</h4>

<em>To be announced</em>

<hr/>
<h4>
	Teams
</h4>

<em>To be announced</em>

<hr/>

<h4>
	Results
</h4>

<em>To be announced</em>

<hr/>
