
The french <a href="https://www.robocup.fr/robocupjunior-1">RoboCup Junior national Open</a> happpens in
Bordeaux in 2023. A <b>Soccer Cam Track</b> competition is organized!

<hr/>

<h4>
	Bracket
</h4>

With <b>10 teams</b>, the competition will have two pools (<b>A</b> and <b>B</b>) of 5 teams each.
Every pair of teams will have a game, with the following pool-scoring:

<ul>
    <li><b>Win</b>: 3 points</li>
    <li><b>Tie</b>: 1 points</li>
    <li><b>Loose</b>: 0 points</li>
    <li><b>Absent team</b>: 0 points</li>
</ul>

This will result in pool ranking. In case of tie, the <b>goal average</b> (<b>scored goals</b> minus
<b>received goals</b>) will be used.

<center>
    <img src="{{ asset("gfx/10_bracket.png") }}" class="img-fluid w-75" />
</center>

<b>33 official games</b> will take place during this competition.

<hr/>

<h4>
	Results
</h4>

{% include "_ranking.html.twig" %}
